<% if flash[:notice] %>
  <div class="alert alert-success" style="text-align:center;">
    <span><%= flash[:notice] %></span>
  </div>
<% end %>
<%= react_component("ToolkitViewer", {kind: @kind, toolkit: @toolkit, steps: @steps, user: current_user}, {prerender: true}) %>